# 0(default) - 매회 HF Hub 토큰 사용. Online
# 1 - 로컬 캐시 파일만 사용. Offline (최초 1회는 0으로 해서 HF Hub 토큰 사용헤야 함.)
# 참고자료 (https://huggingface.co/docs/huggingface_hub/main/en/package_reference/environment_variables#hfhuboffline)
HF_HUB_OFFLINE

GOOGLE_API_KEY
LANGSMITH_TRACING
LANGSMITH_API_KEY
LANGSMITH_ENDPOINT